body{
  font-family:Sans, sans-serif;
}

nav{
  display:flex;
  position:fixed;
  background:#2288f5;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45px;
  justify-content: space-between;
   }
.navi{
  display:flex;
  margin:0px 25px 0px 25px;
  font-size:18px;
  font-weight:bolder;
  align-items: center;
      }
a:hover{
  text-decoration:underline;
}
a{
  text-decoration: none; 
  color:#FFFFFF;
   }
.logo{
  width: 45px;
  height: auto;
}

.welcome-section{
 margin: 45px 0 0 -10px;
   }

.attention{
 background: #e8eded;
 margin: 0px;
}

h1 {
font-size:20px;
font-weight:normal;
text-align: center;
padding: 10px 0 10px 0px;
}

.survey-form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.survey-list{
display: flex;
flex-direction: column;
padding: 10px 0 10px 0;
font-size: 18px;
width: 300px;
}

.list{
width: 100%;
height: 30px;
}

lable{
margin-bottom: 10px;
}

button {
 background:#2288f5;
 border: none;
 color:#FFFFFF;
 font-size: 15px;
    }

button:hover{
  background: #275f9c;}

 .try {
  color:#2288f5;
  }
