body{
    font-family:Sans, sans-serif;
    background: #e8eded;
    font-size: 14px;
  }
  
  header{
    display:flex;
    background: #FFFFFF;
    height: 40px;
    gap: 20px;
    }
  
  .logo_name {
    display:flex;
    gap: 10px;
    align-items: center;
    margin-left: 240px;
  }
   
  .logo{
    height: 30px;
    width: auto;
    }
  
  .to_logo { 
  font-weight: bold;
  color: #000000;
  text-decoration: none; 
     }
  
  nav{
  display:flex;
   }
  
  .language{
    background: none;
    margin-right: 240px;
    color: #000000;
    font-weight: bolder;
    margin-left: auto;
    border: none;
  }
    
   .language:hover{
   text-decoration:underline;
   background: none;
    }
  
  .ikon{
   height: 10px;
   width: auto;
   position: relative;
   left: 20px;
  }
  .search_site{
    display: flex;
    align-items: center;
  }
  .search {
   width: 200px;
   height: 25px;
   background: #e8eded;
   border-radius: 5px;
   padding: 0 0 0 30px;
  }
  
  :focus::-webkit-input-placeholder {color: transparent}
  :focus::-moz-placeholder          {color: transparent}
  :focus:-moz-placeholder           {color: transparent}
  :focus:-ms-input-placeholder      {color: transparent}
  
  .welcome-section{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 10px 0 0 -10px;
     }
  
  .attention{
   background: #e8eded;
   margin: 0px;
  }
  
  .survey-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-right: 1px solid #a2abb8;
  height: 100vh;
    padding: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    gap: 10px;
  }
  
  .survey-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  width: 80%;
  
  }

  .list{
  width: 100%;
  height: 30px;
  }
  
  .submit {
   background:#2288f5;
   border: none;
   color:#FFFFFF;
   font-size: 15px;
   width: 100%;
   height: 30px;
      }
  
  .submit:hover{
    background: #275f9c;}
  
   .try {
    color:#2288f5;
    }

h2 {
  font-size:15px;
  font-weight:normal;
  text-align: start;
  padding: 5px 0 10px 10px;
  }

.welcome{
  background: #e8eded;
  grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.reg{
   grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
   margin: 0 auto;
    }

.reg-list{
  margin: 15px 0 0 0;
  width: 350px;
}

select{
height: 35px;
}