.registration,.registration_link{
   display:flex;
   color: #000000;
   font-weight: bolder;
   margin-left: auto;
   text-decoration:none;
   font-size: 12px;
   }
.registration_link:hover{
   text-decoration:underline;
   background: none;
   }
.article_column{
   flex-direction: column;
   align-items: center;
   height: 80%;
   }
.article_authorization-form_center{
   width: 320px;
   height: 380px;
   background-color: #FFFFFF;
   border-radius: 12px;
   }
.article_registration-form_center{
   width: 320px;
   height: 150px;
   background-color: #FFFFFF;
   border-radius: 12px;
   }