.registration-link,.reg{
   display:flex;
   color: #000000;
   font-weight: bolder;
   margin-left: auto;
   text-decoration:none;
   font-size: 12px;
   }
.reg:hover{
   text-decoration:underline;
   background: none;
   }
   article{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 1050px;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 80%;
   }
   .authorization{
      width: 320px;
      height: 380px;
      background-color: #FFFFFF;
      border-radius: 12px;
   }
   .registration{
      width: 320px;
      height: 150px;
      background-color: #FFFFFF;
      border-radius: 12px;
   }